@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #19A7CE;
    --secondary: #146C94;
    --bgPrimary: #F6F1F1;
    --bgSecondary: #e1dede;
    --textPrimary: #000000;
    --textSecondary: #7a7a7a;
}